<%- include('../partials/header.ejs') %>

<h3>Take a closer look at this photo...</h3>



      <img src="<%= photo.url %>">

      <p> Posted on <%= photo.date %>  </p>

      <p> <%= photo.description %> </p>

      <small>
        <form method="POST" action="/photos/<%= photo.id %>?_method=DELETE">
          <button>Delete This Photo</button>
        </form>
      </small>

      <div>
        <a href="/photos/<%= photo.id %>/edit">Edit this Photo</a>
      </div>


      </form>



      <%- include('../partials/footer.ejs') %>