<%- include('../partials/header.ejs') %>

<h3>Take a closer look at this photo...</h3>



    <img src="<%= photo.url %>">


    <a href="/users/<%= userId %>/user">Go To Photographer's Page</a>
    <p> Posted on <%= photo.date %> by <%= username %> </p>


    <p> <%= photo.description %> </p>

    <small>
    <form method="POST" action="/photos/<%= photo.id %>?_method=DELETE">
    <button>Delete This Photo</button>
    </form>
    </small>

    <div>
    <a href="/photos/<%= photo.id %>/edit">Edit this Photo</a>
    </div>


    </form>



<%- include('../partials/footer.ejs') %>