<%- include('../partials/header.ejs') %>

<h3>Take a closer look at this photo...</h3>

      <img src="<%= photo.url %>">

      <p> Posted on <%= photo.date %>  </p>

      <p> <%= photo.description %> </p>



      </form>



      <%- include('../partials/footer.ejs') %>