<%- include('../partials/header.ejs') %>

<h3> This is the personal show page for <%= user.username %></h3>



<%  photo.forEach((photo) => { %>
	<img src="<%= photo.url %>">

	<p> Posted on <%= photo.date %> by <%= user.username %> </p>

	<p> About this photo: <%= photo.description %> </p>

	<% if (username == user.username) { %>
		<small>
			<form>
				<div>
					<a href="/photos/<%= photo.id %>/edit">Edit this Photo</a>
				</div>
			</form>

			<form method="POST" action="/users/<%= userId %>?_method=DELETE">
    			<button>Delete Your Account</button>
    		</form>

    	</small>
    <% } %>
<%})%>
  	




  	

  



<%- include('../partials/footer.ejs') %>