<%- include('../partials/header.ejs') %>

<h3> This is the personal show page for <%= username %></h3>



	<%  photo.forEach((photo) => { %>
	<img src="<%= photo.url %>">

	<p> Posted on <%= photo.date %> by <%= username %> </p>

	<p> <%= photo.description %> </p>

	<small>
	
	<form method="POST" action="/photos/<%= photo.id %>?_method=DELETE">
	<button>Delete This Photo</button>
	</small>
	</form>

	<form>
	<div>
	<a href="/photos/<%= photo.id %>/edit">Edit this Photo</a>
	</div>


	</form>

	<%})%>
<%- include('../partials/footer.ejs') %>